*{
  box-sizing: border-box;

}

body {
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: rgba(223, 28, 28, 1);
    font-size: 1rem;

}

a{
  text-decoration: none;
  color: #000000;
}

.imgPrincipal{
  width:95vw;
  margin: 0;
  filter: drop-shadow(
    0 0 10px rgba(0,0,0, .8)
  );
  
}

.content{
  background-color: rgba(223, 28, 28, 1);
  height: auto;
}

.container-ppal{
    display: grid;
    place-items: center; 
    
}
.tituloBlanco{
    color: #FFFF;
    font-size: 4rem;
    text-shadow: #333;
    word-wrap: break-word;
    font-weight: 700;
    margin-left: 20px;
}
.tituloAmarillo{
    color: #FFBA49;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: #333;
    word-wrap: break-word;
    margin-left: 55%;
}

/* Navbar */

.navbar {
    background-color:rgba(223, 28, 28, 1);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 0;
    height: 15vh;
  }

  .imgNavbar{
    opacity: 0.4;
    padding-top: 50px;
  }
  
  .logo {
    width: 60px;
  }

  /* Estilos del menú hamburguesa */
  .headerNavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contPerfil{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .fotoPerfil{
    width: 50px;
    height: 50px;
    border-radius: 12px;
  }

  .nombrePerfil{
    margin-top: 10px;
    font-size: 1rem;
  }

  .bi-house-door{
    font-size: 1.8rem;
    margin-right: 5px;
  }

  .iconMenuRestaurante{
    width: 30px;
    height: 30px;
    color: white;
    margin-right: 5px;
  }

  .menu-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 60px;
  }

  .bi-list{
    font-size: 2rem;
  }

  .bi-x{
    font-size: 2rem;
  }

  .bi-question-circle{
    font-size: 1.6rem;
    margin-right: 10px;
  }

  .contLinks{
    display: flex;
    align-items: center;
  }
  
  /* Ocultar enlaces en pantallas pequeñas */
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  .btn-amarillo{
    display: inline-block;
    background: #FFBA49;
    color: #333;
    border-radius: 2em;
    border:none;
    padding: 4px 6px;
    font-size: 0.71rem;
    font-weight: 700;
  }
  
  .menu-icon {
    display: block;
  }

  .prueba{
    width: 30px;
    height: 30px;
    margin: auto;
    color: aqua;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #C10000 ;
    height: 100%;
    padding: 10px;
    transform: translateX(-100%); 
    transition: transform 0.3s ease-in-out; 
    list-style: none;
    width: 75%;
  }
  
  .nav-links.active {
    transform: translateX(0)
  }
  
  .nav-links li {
    margin: 20px 0;
  }

  .redesNav{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .redesNav i{
    font-size: 1.6rem;
  }

  /*carrousel*/


  

  .tituloSlider{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-weight: 900;
    font-size: 2.25rem;
  }

  .imgFondoSlider{
    filter: 
        drop-shadow(0 0 5px rgba(0, 0, 0, 0.9)) /* Sombra para resaltar el borde */
        brightness(0) 
        saturate(100%) 
        invert(91%) 
        sepia(0%) 
        saturate(12%) 
        hue-rotate(180deg);
    width: 90%;
    margin-top: 15vh;
    position: absolute;
    z-index: 1;
  }

  .imgHamburguesaSlider{
    z-index: 9;
    width: 100%;
    height: auto;
    margin-top: 15%;
  }

  .tituloProdSlider{
    z-index: 9;
    font-weight: 700;
    margin-top: 2.5vh;
    color: red;
    font-size: 1.5rem;
    filter: drop-shadow(
      0 0 10px rgba(0,0,0, .8)
    );
    text-align: center;
    
  }

  .textoSliderDescripcion{
    margin: auto;
    width: 85%;
    text-align: center;
    z-index: 9;
    font-weight: 600;
    font-size: 0.9rem;
  }

  .btnAmarilloSlider{
    display: inline-block;
    background: #FFBA49;
    color: #333;
    border-radius: 2em;
    border:none;
    margin-top: 35px;
    padding: 6px 8px;
    font-weight: 700;
    z-index: 9;
    width: 45%;

  }

  .btnRojoSlider{
    margin-top: 35px;
    padding: 12px 50px;
    color: white;
    background-color: #C10000;
    margin-bottom: 10vh;
    border-radius: 6px;
    font-weight: 700;
    border: none;
    z-index: 9;
    width: 80%;
  }

  .contenedorSlider{
    width: auto;
  }

  .ri-restaurant-line{
    font-size: 1.5rem;
  }

  .slider{
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .descripcionPedido{
    display: flex;
    flex-direction: column;
    align-items: center;
    }


 /* Footer  */
 footer {
  background-color: #C10000;
  color: white;
  padding: 20px 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  flex-flow: row wrap;
}

.footer-links {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content:space-between;
  width: 100%;

}

.footer-links a {
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
}


.footer-link-social{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content:space-between;
  width: 100%;
}

.footer-link2 a {
color: white;
}


.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer-social a {
  color: white;
  font-size: 30px;
  margin: 0 15px;
}

.footer-container a:hover {
  color: #FFD700;
}

.footer-logo {
  position: absolute;
  bottom: 10px;
  left: 50%;
  height: 125%;
  transform: translateX(-50%);
  opacity: 0.3;
  z-index: 0;
}

.footer-linea{
background-color: #FFBA49;
padding: 1px 0;
opacity: 1;
}

.footer-bottom {
  text-align: left;
  font-size: 8px;
  position: relative;
  width: 40%;
  margin: 0;
}

.footer-bottom p {
  margin: 0;
}

.footer-logo img {
max-width: 200px;
height: auto;
margin-top: 125%;
}

.footer-container {
    flex-direction: column;
    text-align: center;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social a {
    font-size: 25px;
    margin: 0 10px;
}

.footer-logo img {
    max-width: 150px;
    height: auto;
    margin-top: 125%;
}


@media (min-width: 541px) {

  .imgPrincipal{
    width: 80vw;
    margin: 25px 0px;
  }

  .tituloBlanco{
    font-size: 3rem;
    margin-top: 25px;
  }

  .tituloAmarillo{
    margin-left: 70%;
  }

  .imgHamburguesaSlider{
    width: 75%;
  }

  .tituloProdSlider{
    font-size: 1.7rem;
  }

  .textoSliderDescripcion{
    width: 80%;
    font-size: 1.2rem;
  }

  .btnAmarilloSlider{
    padding: 12px 14px;
  }

  .btnRojoSlider{
    font-size: 1.4rem;
  }

  .btn-amarillo{
    padding: 8px 12px;
    font-size: 1rem;
    width: 110px;
  }

  .fotoPerfil{
    width: 65px;
    height: 65px;
  }

  .nombrePerfil{
    font-size: 1.3rem;
  }

  .nav-links li a{
    font-size: 20px;
  }

  .bi-question-circle{
    margin-right: 5px;
  }

  .bi-list{
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .bi-question-circle,.bi-house-door,.ri-restaurant-line{
    font-size: 2rem;
    margin-right: 15px;
    margin-left: 15px;
  }

  .bi-facebook,.bi-instagram,.bi-twitter{
    font-size: 3rem;
    margin-top: 50px;
  }

  .nav-links{
    width: 50%;
  }

  .bi-x{
    font-size: 3rem;
  }
}

@media (min-width: 821px) {

  .tituloAmarillo{
    display: none;
  }

  .tituloDestacado{
    color: #FFBA49;
  }

  .tituloBlanco{
    text-align: center;
    font-size: 4rem;
  }

  .imgPrincipal{
    width: 60%;
    margin-bottom: 50px;
  }

  .tituloSlider{
    font-size: 3rem;
    font-weight: 900;
  }
}


@media (min-width: 954px) {
  .imgFondoSlider{
    display: none;
  }

  .slider{
    background-color: #FFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .tituloSlider{
    display: none;
  }

  .imgHamburguesaSlider{
    width: 50%;
    margin-bottom: 8.5vh;
    margin-top: 10%;
  }

  .descripcionPedido{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
  }

  .btnRojoSlider{
    font-size: 1rem;
  }

}

@media (min-width: 1100px) {
  .imgPrincipal{
    width: 50%;
  }

}

@media (min-width: 1320px) {
  .imgPrincipal{
    width: 45%;
  }

}