.admin-container {
  padding: 20px;
  text-align: center; /* Centrar contenido */
}

.btn-reporte {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #DF1C1C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-reporte:hover {
  background-color: #a10606;
}

.item-detalle {
  border: 2px solid rgb(180, 180, 180);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  width: 80%; /* Ajusta el tamaño para que sea más pequeño */
  margin: 0 auto;
  display: inline-block;
}

.detalles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
  justify-items: center;
}

.lista-productos {
  margin-top: 40px;
}
.grilla-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Cambia auto-fill por auto-fit para que los productos se adapten mejor al tamaño de la pantalla */
  gap: 20px;
  margin-top: 20px;
  justify-content: center; /* Centra el contenido */
}

.producto-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  width: 100%; 
  max-width: 200px; 
  margin: 0 auto; 
}
input[type="text"] {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
}

