@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;400;700;900&display=swap');

/* General */
.app-container {
  font-family: 'Poppins', sans-serif;
  padding: 0px;
}

h2, h3 {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* Parte Superior */
.top-section {
  display: flex;
  justify-content: space-between;
  background-color: rgba(223, 28, 28, 1);
  padding: 70px;
  color: white;
}

.admin-info {
  display: flex;
  align-items: center;
}

.admin-avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.admin-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.add-button {
  padding: 10px 20px;
  width: 50vh;
  background-color: #FFBA49;
  border: none;
  color: white;
  border-radius: 10px;
}

/* Parte Media */
.middle-section {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 70px; /* Ajusta los paddings laterales */
}

.zona-media-izquierda {
  flex-basis: 50%; /* Ocupa el 50% del ancho */
  display: flex;
  align-items: flex-start;
  flex-direction: column; /* Coloca el h3 y botones verticalmente */
  gap: 20px; /* Espacio entre el h3 y los botones */
}

.admin-list {
  flex-basis: 50%; /* Ocupa el 50% del ancho */
  display: flex;
  flex-direction: column; /* Asegura que los items de admin se apilen verticalmente */
}

.admin-actions-left {
  display: flex;
  flex-direction: row; /* Alinea los botones verticalmente */
  gap: 10px; /* Espacio entre botones */
}

.admin-list-right {
  display: flex;
  flex-direction: column;
}

.admin-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-item.selected {
  background-color: #f1f1f1;
}

.delete-button {
  width: 200px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.view-button {
  width: 200px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Parte Inferior */
.linea {
  width: 100vw;
  color: black;
}

.linea hr {
  opacity: 1;
  width: 100vw;
}

.bottom-section {
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  padding: 0 70px; /* Ajusta los paddings laterales */
  width: 100%; /* Asegúrate de que ocupa todo el ancho */
}

.zona-baja-izq {
  flex-basis: 50%; /* 50% del ancho */
  display: flex; /* Alinea el contenido verticalmente */
  align-items: flex-start; /* Centra el contenido verticalmente */
  justify-content: flex-start; /* Alinea a la izquierda */
}

.zona-baja-der {
  flex-basis: 50%; /* 50% del ancho */
  display: flex; /* Alinea el contenido verticalmente */
  flex-direction: column; /* Organiza los elementos en columnas */
  justify-content: flex-start; /* Alinea a la parte superior */
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.bottom-section input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.role-options {
  display: flex;
}

.role-button {
  padding: 10px;
  border: 1px solid #ccc; /* Borde gris claro */
  margin-right: 10px;
  cursor: pointer;
  background-color: white; /* Fondo blanco por defecto */
  color: black; /* Color del texto */
  transition: background-color 0.3s ease; /* Transición suave */
}

.role-button.selected {
  background-color: #666; /* Color gris más oscuro cuando está seleccionado */
  color: white; /* Color del texto blanco para el botón seleccionado */
  border: 1px solid #666; /* Borde gris oscuro */
}

.form-actions {
  display: flex;
  justify-content: left;
  gap: 20px;
}

.cancel-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 40%;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.save-button {
  background-color: black;
  width: 40%;
  color: white;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}
