.contenedor{
    padding: 80px 50px;
}
.divpedidos p{
    font-family: "Poppins", sans-serif;
}
.buscarpedidos {
    font-size: 12px;
    width: 50vh;
    height: 30px;
    padding-left: 6px;
    margin-left: 50px;
    border: 1px solid black;
    border-radius: 3px;
    font-family: "Poppins", sans-serif;
}

.buscarpedidos:focus {
    border: 1px solid black;
}

.botonescolor {
    width: 30vh;
    margin: 15px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.botonescolor:hover {
    color: white;
}

.divpedidos {
    display: flex;
    justify-content: space-around;
}

.paddingtitulos {
    padding-top: 30px;

}

.infopedidos {
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
}

.botones {
    width: 25vh;
    margin-right: 10px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.burger {
    background-color: #ece6f09c;
    border-radius: 50px;
    width: 50px;
    height: 45px;
}

.nrodeorden {
    padding: 0 30vh 0 30px;
}

.estado {
    padding-top: 15px;
    width: 120px;
    text-align: end;

}

.entregados {
    background-color: rgba(184, 179, 179, 0.5);
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 1000px){
    .buscarpedidos {
        width: 30vh;
        margin-left: 10px;
    }

    .botonescolor {
        width: 14vh;
        margin: 10px 5px 0 7px;
    }

    .botones {
        width: 12vh;
        font-size: 12px; 
    }

    .nrodeorden {
        padding: 0 40px 0 8px;
    }
}


@media (max-width: 600px){
    .divpedidos {
        text-align: center;
        display: block;

    }

    .botonescolor {
        width: 15vh;
        margin: 10px 5px;
        font-size: 13px;
    }

    .botones {
        width: 15vh;
        font-size: 13px; 
        margin-bottom: 50px;
    }

    .nrodeorden {
        padding: 0 17px 0 2px;
    }
}