* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

button {
  background-color: transparent;
  border: none;
}

/*Menu*/
.menu {
  width: 90%;
  padding-top: 20px;
  margin: 0 auto;
  padding-bottom: 25px;
}

.menu-tittle {
  text-align: center;
  font-size: 2em;
  color: #333;
}

.menu-line {
  background-color: #FFBA49;
  height: 2px;
  border: none;
  margin-top: 10px;
}

.menu-top {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.search-container {
  position: relative;
  width: 95%;
  margin: 0 auto;
}

.menu-search {
  padding: 10px;
  width: 100%;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-color: #ECE6F0;
  padding-right: 40px;
  transition: box-shadow 0.3s ease;
}

.menu-search:focus {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #888;
  font-size: 1.2em;
}

.menu-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.menu-buttons button {
  padding: 10px 20px;
  border: none;
  background-color: #FFBA49;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.menu-buttons button:hover {
  background-color: #ff9530;
}

/* Boton filtros */

.filter-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter-menu {
  display: flex;
  flex-direction: column;
  background-color: #FFBA49;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-radius: 10px;
}

.filter-menu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  
}

.filter-menu a:hover {
  background-color: #ff9530;
  
}


/*  Productos   */

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.product-card {
  background-color: #ECE6F0;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  position: relative;
  transition: transform 0.2s ease;

}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card h3 {
  margin-top: 10px;
  font-size: 1.2em;
  color: #ff3b30;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

.cart-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  border-radius: 20%;
}

.cart-button img {
  width: 30px;
  height: 30px;
}





@media (max-width: 768px) {
  .menu-buttons {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .product-card h3 {
    font-size: 1em;
  }

  .cart-button img {
    width: 25px;
    height: 25px;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columnas en pantallas medianas */
  }
}