.admin-header {
  text-align: center;
  margin-bottom: 30px;
  background-color: #DF1C1C;
  padding: 20px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.admin-header h1 {
  font-size: 2.5rem;
  color: white;
}

.admin-header p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: white;
}

.user-container-principal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 15vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.container-pfp {
  position: relative;
  display: inline-block;
}

.pfp-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.pfp-label:hover .pfp-image {
  filter: brightness(0.7);
}

.pfp-label {
  position: relative;
  display: inline-block;
}

.pfp-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: none;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.pfp-label:hover .pfp-overlay {
  display: block;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.campo-perfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.label-perfil {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  width: 150px;
}

.input-perfil {
  padding: 10px;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-perfil.read-only {
  background-color: #f0f0f0;
  color: #888;
  cursor:default
}


.svg-editar {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.svg-editar:hover {
  transform: scale(1.1);
}

.svg-placeholder {
  width: 20px;
  height: 20px;
}

.btn-cambiar-contrasenia {
  align-self: flex-start;
  color: #DF1C1C;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: underline;
}

.btn-cambiar-contrasenia:hover {
  color: #a10606;
}

.container-botones-perfil {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}

.btn-guardar-perfil {
  width: 200px;
  padding: 10px;
  background-color: #DF1C1C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-guardar-perfil:hover {
  background-color: #a10606;
}

.btn-guardar-perfil:disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}

.btn-guardar-perfil:disabled:hover {
  background-color: #ccc;
}
